@page
@model WebApp.Pages.SamplePages.BasicsModel
@{
    // the cshtml page contains both csharp and html code
    // the @ symbol takes processing from the html environment
    //  and moves it to the C# environment
    // processing any html code moves processing into the html
    //  environment

    // set the text for the browser tag
    ViewData["Title"] = "Review page basics";
}
<h1>Basics of Razor Page (Review)</h1>

@if (string.IsNullOrWhiteSpace(Model.MyName))
{
    <p>The random number is odd.</p>
}
else
{
    <p>@Model.MyName</p>
}
