<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    @RenderSection("CustomCSS", required: false)
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">
                        <img src=~/img/ChinookMusicMenuLogo.jpg alt="Logo image" title="Go to Home" /></a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                @* setup a submenu (drop-down menu) using holiday.css
                    see holidaycss.js.org

                   start with an li tag
                   add a span tag: entry on menu root
                   add a ul tag: starts the drop down menu
                   add any number of li and a tags: sub menu item entries
                *@
                <li>
                    <span>Samples</span>
                    <ul>
                        <li><a asp-area="" asp-page="/SamplePages/Basics">Basics</a></li>
                        <li><a asp-area="" asp-page="/SamplePages/Controls">Controls</a></li>
                        <li><a asp-area="" asp-page="/SamplePages/AlbumsByGenreQuery">Query table with paging</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; Jan 2022 - Chinook WebApp - NAIT DMIT2018 Learning Sample (all rights reserved)
            <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>